
@import "nav/nav.css";
@import "nav/menu.css";

html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

ul {
    list-style-type:none;
}

ul li {
    text-decoration: none;
}

body {
background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

a, h4 {
    text-decoration: none;
    font-family: 'Kodchasan', sans-serif;
}

#main-button {
    font-family: 'Kodchasan', sans-serif;
    color: white;
    border-radius: 7px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-right: 10px;
}