
.services-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    //left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    z-index: 5;
    padding: 0;
    margin: 0;
    .menu-header {
        height: 8%;
        width: 100%;
        display: flex;
    
        .menu-title {
            font-size: 1.5em;
            margin: auto;
        }

        .menu-close {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: 0;
            color: white;
            height: 8%;
            width: 8%;
            font-size: 1.5rem;
        }
    }
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        .menu-row {
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            .menu-item {
                width: 100%;
                padding-left: 20px;
                min-height: 300px;
                .img-link img {
                    width: 100%;
                }
                .menu-item-title {
                    text-align: center;
                }
                .menu-item-description {
                    text-align: center;
                }
            }
        }
        
    }
}

